  body {
    background-color: #212121;
  }

  .überschrift {
    color: #000;
    margin-left: 10px;
  }

  .apod {
    color: #fff;
    text-align: center;
    font-size: 3rem;
  }

  .apodelement {
    color: #fff;
    text-align: left;
    font-size: 2.5rem;
  }

  .containerüberschrift {
    color: #fff;
  }

  .picFull:hover {
    transform: scale(1.01);
  }

  .picFull {
    transition: transform .5s;
    margin-bottom: 20px;
  }

  .modal-content {
    background-color: #212121;
  }

  .modal-title {
    color: #000;
  }

  .apodcaption {
    font-size: 1.3rem;
    color: #fff;
  }

  @media (max-width:980px) {
    #title {
      text-align: center;
    }

    .modal {
      orientation: landscape;
    }

    .apodcaption {
      font-size: 1rem;
    }

    #btnHdy {
      scale: 1.3;
      size: 1.3%;
    }

    .apod {
      font-size: 2rem;
    }

    .apodelement {
      font-size: 1rem;
    }
  }