* {
  margin: 0;
  padding: 0;
}

#scrollAnim {
  background: #000;
  min-height: 100vh;
}

section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /*background: linear-gradient(to top, #0a2a43, transparent);*/
  z-index: 10000;
}

section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: #0a2a43;*/
  z-index: 10000;
  /*mix-blend-mode: color;*/
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: #fff;
  font-size: 1em;
  z-index: 2;
  padding-right: 10px;
}

#text2 {
  position: relative;
  color: #fff;
  font-size: 1em;
  z-index: 2;
  padding-right: 10px;
}

#text3 {
  position: relative;
  color: #fff;
  font-size: 1em;
  z-index: 2;
  padding-right: 10px;
}

#text4 {
  position: relative;
  color: #fff;
  font-size: 1em;
  z-index: 2;
  padding-right: 10px;
}

#earth {
  z-index: 1;
}

#features {
  background-color: #fff;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  /*padding: 7% 15%;
  background-color: #fff;
  position: relative;*/
}

.hidden {
  font-size: 1.1rem;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (max-width: 980px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
  #features {
    min-height: 100vh;
  }

  .card-img-top {
    height: 100px;
  }

  .hidden {
    font-size: 0.5rem;
    filter: blur(0.5px);
  }
}
