header {
  background-color: rgba(236, 7, 95, 0.55);
}

footer {
  background-color: rgba(236, 7, 95, 0.55);
  opacity: 100;
}

.Montserrat {
  font-family: "Montserrat-Black";
}

main {
  min-height: calc(100vh - headerHeight - footerHeight);
  background-image: url("../imgs/bg-cards.jpg");
}
