body {
  min-height: 100%;
  overflow-x: hidden;
}

a:visited {
  color: #fff;
}

#title {
  background-image: url("../imgs/earthday_night_lrg.jpg");
  background-size: contain;
  max-width: 100%;
  height: 70vh;
  resize: both;
  overflow: hidden;
}

.Montserrat {
  font-family: "Montserrat-Black";
}

a {
  text-decoration: none;
}

#cards {
  background-color: #212121;
  /*min-height: 900px;*/
  z-index: 1;
  padding-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0rem 1rem 1rem rgba(236, 7, 95, 0.55);
  z-index: 2;
}

#features {
  background-color: #212121;
}

.img-fluid {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.card-img-top {
  /*height: 300px;*/
  /*object-position: center;*/
  transition: transform 0.2s ease-in-out;
}

.card-black {
  background-color: black;
}

@media (max-width: 980px) {
  /*.card-img-top {
      height: 100px;
    }
  
    #cards {
      min-height: 300px;
    }*/

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

#footer {
  background-color: #7400bc;
}
