a:visited {
  color: #771460;
}

body {
  height: 0px;
  margin: 0px;
  overflow: auto;
}

.Montserrat {
  font-family: "Montserrat-Black";
}

a {
  text-decoration: none;
}

/*<section(s)> from top to bottom*/
#title {
  background-image: url("../imgs/launch-pad.jpg");
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  resize: vertical;
  overflow: hidden;
}

#upcomingLaunches {
  background-color: #212121;
  padding-top: 5px;
  padding-bottom: 5px;
}

#upcomingEvents {
  background-color: #212121;
  padding-bottom: 10px;
}

/*styling for the launches/events text*/
.highLight {
  text-shadow: #771460 2px -2px 5px, #a51383 2px 2px 5px;
}

/*Elements in #upcomingLaunches/events*/
.launchImg,
.launchImg2,
.eventImg,
.eventImg2 {
  border-radius: 3%;
  height: 180px;
  width: 300px;
  max-height: 180px;
}

#cards {
  overflow: hidden;
  background: rgb(37, 2, 34);
  background: linear-gradient(
    90deg,
    rgba(37, 2, 34, 1) 0%,
    rgba(154, 20, 194, 1) 35%,
    rgba(119, 12, 75, 1) 100%
  );
  padding-bottom: 40px;
}

#footer {
  padding-top: 10px;
  background-color: #212121;
}

/*card styling*/
.card:hover {
  transform: scale(1.05);
  /*box-shadow: 0rem 0rem 1rem 1rem rgba(236, 7, 95, 0.55);*/
  box-shadow: 0rem 0rem 1rem 1rem rgba(253, 29, 29, 0.55);
}

.imgCard {
  width: auto;
  height: 220px;
  object-fit: cover;
  border-radius: 1%;
}

.card-img-top {
  /*height: 300px;*/
  /*object-position: center;*/
  transition: transform 0.2s ease-in-out;
}

.card-black {
  background-color: black;
}

/*skeleton animation*/
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/*skeleton-pseudo-text-loading*/
.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.1rem;
  border-radius: 0.125rem;
  display: none;
}

.skeleton-text:last-child {
  width: 80%;
  margin-bottom: 0;
}

@media (max-width: 980px) {
  #title {
    height: 100vh;
    background-size: cover;
    max-width: 100%;
    resize: horizontal;
    overflow: hidden;
  }

  #cards {
    padding-bottom: 30px;
  }

  #footer {
    padding-top: 5px;
    background-color: #212121;
  }

  #html {
    background-color: #212121;
  }
}

/*colors for front page text*/
.color1 {
  color: #771460;
}

.color2 {
  color: #a51383;
}

/*Btn Styling*/
.btnMoreEvents {
  background-color: #212121;
  color: #a51383;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: #771460 0.125em solid;
  border-radius: 0.25em;
  padding: 0.25em 1em;

  text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.3), 0 0 0.6em currentColor;

  box-shadow: 0 0 0.5em 0 #a51383;
}
