a:visited {
  color: #fff;
}

body {
  background-color: #212121;
}

#title {
  background-image: url("../imgs/launch-pad.jpg");
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  resize: vertical;
  overflow: hidden;
}

.Montserrat {
  font-family: "Montserrat-Black";
}

a {
  text-decoration: none;
}

#cards {
  margin: 0;
  background-color: #212121;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0rem 1rem 1rem rgba(236, 7, 95, 0.55);
}

.img-fluid {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.card-img-top {
  /*height: 300px;*/
  /*object-position: center;*/
  transition: transform 0.2s ease-in-out;
}

.card-black {
  background-color: black;
}

@media (max-width: 980px) {
  /*.card-img-top {
    height: 100px;
  }

  #cards {
    min-height: 300px;
  }*/

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

#footer {
  height: 2px;
  background-color: #212121;
}

/*colors for front page text*/
.color1 {
  color: #771460;
}

.color2 {
  color: #a51383;
}
