body,
html {
  height: 100%;
}

.bg {
  background-image: url("../imgs/Kanada.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 980px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }
}
