.Montserrat {
  font-family: "Montserrat-Black";
}

/*
h1, h2, h3 {
    font-family: "Montserrat-Black";
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    /*color: #0b2d39;*//*
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 2.7rem;
}

.attention {
  	color: #ff4c68;
}

p {
    color: #8f8f8f;
}
*/

#title{
  background-color: #212121;
  color: #fff;
}

/*#title {
    background-color: #ff4c68;
    color: #fff;
}*/

.container-fluid {
    padding: 3% 15% 25%;
}

.navbar {
    padding: 0 0 4.5rem; 
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light"
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-img {
    transform: rotate(25deg);
    width: 40%;
    position: absolute;
    margin-left: 1px;
	border-radius: 20%;
}

#features {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  /*padding: 7% 15%;
  background-color: #fff;
  position: relative;*/
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/*
.icon {
    color: #ef8172;
    margin-left: 100px;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img {
    width: 14%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-img {
    width: 8%;
    margin: 20px 20px 50px;
}

#pricing {
   padding: 100px;
   text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

.text-center {
    padding: 30px;
}

#cta {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 3% 15%;
}
.cta-heading {
    font-family: "Montserrat-Black";
    font-size: 5.5rem;
    line-height: 1.5;
}

.social-icon {
    margin: 40px 10px;
}
*/
@media (max-width:980px) {
    #title {
        text-align: center;
    }
    
    .title-img {
        position: static;
        transform: rotate(0);
    }
}