body {
  background-color: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#weatherContainer{
  padding: 10, 10, 10, 10;
  background-color: #9b2525;
  border: #9b2560;
  border-color: #9b2560;
  border-radius: 25px;
}

.container {
  margin-top: 20px;
}
#weatherBtn {
  color: #511d53;
}
